/*
Neon Style Sheet for QT Applications (QpushButton)
*/

QPushButton {
    border-style: solid;
    border-color: #050a0e;
    border-width: 1px;
    border-radius: 5px;
    color: #d3dae3;
    background-color: #100E19;
    font-size: 14px;
    padding: 8px;
}

QPushButton::default {
    border-style: solid;
    border-color: #050a0e;
    border-width: 1px;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 8px;
    background-color: #151a1e;
}

QPushButton:hover {
    border-style: solid;
    border-top-color: qlineargradient(spread:pad, x1:0, y1:1, x2:1, y2:1, stop:0 #C0DB50, stop:0.4 #C0DB50, stop:0.5 #100E19, stop:1 #100E19);
    border-bottom-color: qlineargradient(spread:pad, x1:0, y1:1, x2:1, y2:1, stop:0 #100E19, stop:0.5 #100E19, stop:0.6 #C0DB50, stop:1 #C0DB50);
    border-left-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #C0DB50, stop:0.3 #C0DB50, stop:0.7 #100E19, stop:1 #100E19);
    border-right-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 #C0DB50, stop:0.3 #C0DB50, stop:0.7 #100E19, stop:1 #100E19);
    border-width: 2px;
    border-radius: 1px;
    color: #d3dae3;
    padding: 2px;

}

QPushButton:pressed {
    border-style: solid;
    border-top-color: qlineargradient(spread:pad, x1:0, y1:1, x2:1, y2:1, stop:0 #d33af1, stop:0.4 #d33af1, stop:0.5 #100E19, stop:1 #100E19);
    border-bottom-color: qlineargradient(spread:pad, x1:0, y1:1, x2:1, y2:1, stop:0 #100E19, stop:0.5 #100E19, stop:0.6 #d33af1, stop:1 #d33af1);
    border-left-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #d33af1, stop:0.3 #d33af1, stop:0.7 #100E19, stop:1 #100E19);
    border-right-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 #d33af1, stop:0.3 #d33af1, stop:0.7 #100E19, stop:1 #100E19);
    border-width: 2px;
    border-radius: 1px;
    color: #d3dae3;
    padding: 2px;
}

/*
Neon Style Sheet for QT Applications (QSlider)
*/
QSlider {
    border: none;
    background-color: #211944;
    width: 128px;
    border-radius: 4px;
}

QSlider::groove:vertical {
    background-color: transparent;
    width: 128px;
}

QSlider::handle:vertical {
    background-color: transparent;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    margin-bottom: 8px;
    margin-left: 32px;
    margin-right: 32px;
}

QSlider::sub-page:vertical {
    background-color: transparent;
    border-radius: 4px;
}

QSlider::add-page:vertical {
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1,
            stop:0 #86BB6A, stop:0.4 #3D7428,
            stop:0.5 #3D7428, stop:1 #86BB6A);
    border-radius: 4px;
}

QSlider::handle:horizontal:hover,
QSlider::handle:horizontal:focus,
QSlider::handle:vertical:hover,
QSlider::handle:vertical:focus {
    background-color: transparent;
    border-color: transparent;
    outline: none;
    border-radius: 4px;
}

/*
Neon Style Sheet for QT Applications (QMainWindow)
*/

QMainWindow {
    background-color: #021536;
    border-style: solid;
    border-top-color: qlineargradient(spread:pad, x1:0, y1:1, x2:1, y2:1, stop:0 #C0DB50, stop:0.4 #C0DB50, stop:0.5 #100E19, stop:1 #100E19);
    border-bottom-color: qlineargradient(spread:pad, x1:0, y1:1, x2:1, y2:1, stop:0 #100E19, stop:0.5 #100E19, stop:0.6 #C0DB50, stop:1 #C0DB50);
    border-left-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #C0DB50, stop:0.3 #C0DB50, stop:0.7 #100E19, stop:1 #100E19);
    border-right-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 #C0DB50, stop:0.3 #C0DB50, stop:0.7 #100E19, stop:1 #100E19);
    border-width: 2px;
    border-radius: 1px;
    color: #d3dae3;
    padding: 2px;
}

QMainWindow::title {
    background-color: #100E19;
    color: #d3dae3;
    padding: 6px;
}

QMainWindow::separator {
    background-color: #d3dae3;
    width: 1px;
    height: 1px;
}

QMainWindow::separator:hover {
    background-color: #FFFFFF;
}

QMainWindow::separator:horizontal {
    width: 1px;
}

QMainWindow::separator:vertical {
    height: 1px;
}

QMainWindow::dockWidgetSeparator {
    background-color: #d3dae3;
    width: 1px;
    height: 1px;
}

QMainWindow::dockWidgetSeparator:hover {
    background-color: #FFFFFF;
}

QMainWindow::dockWidgetSeparator:horizontal {
    width: 1px;
}

QMainWindow::dockWidgetSeparator:vertical {
    height: 1px;
}


/*
Neon Style Sheet for QT Applications (QLabel)
*/
QLabel {
    color: #d3dae3;
    background-color: transparent;
    font-size: 16px;
    padding: 8px;
}


QLabel::hover {
    color: #C0DB50;
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
}

QLabel::selected {
    background-color: #C0DB50;
}

QLabel::disabled {
    color: #808080;
}


/*
Neon Style Sheet for QT Applications (QLineEdit)
*/

QLineEdit {
    color: #d3dae3;
    background-color: #100E19;
    font-size: 14px;
    selection-background-color: #C0DB50;
    selection-color: #d3dae3;
    border: 1px solid #050a0e;
    border-radius: 5px;
    padding: 2px;
}

QLineEdit::hover {
    border-style: solid;
    border-top-color: qlineargradient(spread:pad, x1:0, y1:1, x2:1, y2:1, stop:0 #C0DB50, stop:0.4 #C0DB50, stop:0.5 #100E19, stop:1 #100E19);
    border-bottom-color: qlineargradient(spread:pad, x1:0, y1:1, x2:1, y2:1, stop:0 #100E19, stop:0.5 #100E19, stop:0.6 #C0DB50, stop:1 #C0DB50);
    border-left-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #C0DB50, stop:0.3 #C0DB50, stop:0.7 #100E19, stop:1 #100E19);
    border-right-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 #C0DB50, stop:0.3 #C0DB50, stop:0.7 #100E19, stop:1 #100E19);
    border-width: 2px;
    border-radius: 1px;
    color: #d3dae3;
    padding: 2px;
}

QLineEdit::focus {
    border-style: solid;
    border-top-color: qlineargradient(spread:pad, x1:0, y1:1, x2:1, y2:1, stop:0 #d33af1, stop:0.4 #d33af1, stop:0.5 #100E19, stop:1 #100E19);
    border-bottom-color: qlineargradient(spread:pad, x1:0, y1:1, x2:1, y2:1, stop:0 #100E19, stop:0.5 #100E19, stop:0.6 #d33af1, stop:1 #d33af1);
    border-left-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #d33af1, stop:0.3 #d33af1, stop:0.7 #100E19, stop:1 #100E19);
    border-right-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 #d33af1, stop:0.3 #d33af1, stop:0.7 #100E19, stop:1 #100E19);
    border-width: 2px;
    border-radius: 1px;
    color: #d3dae3;
    padding: 2px;
}

QLineEdit::disabled {
    color: #808080;
    background-color: #100E19;
}

/*
Neon Style Sheet for QT Applications (QMenuBar)
*/
QMenuBar {
    background-color: #100E19;
    color: #d3dae3;
    border: none;
    padding: 2px;
}

QMenuBar::item {
    background-color: transparent;
    padding: 4px 8px;
}

QMenuBar::item:selected {
    background-color: #C0DB50;
}

QMenu {
    background-color: #100E19;
    color: #d3dae3;
    border: none;
    margin: 2px;
    padding: 4px;
}

QMenu::item {
    background-color: transparent;
    padding: 4px 20px 4px 20px;
}

QMenu::item:selected {
    background-color: #C0DB50;
}